<div class="conteiner">
<h1>ツイートする</h1>
<%= form_tag("/posts/create") do %>

<%= form_with model: @post, local: true do |form| %>
  <%= form.text_area :content %><br><br>
  <%= form.file_field :images, multiple: true %><br>
  <%= form.submit class: "input", value: "ツイート"%>
<% end %>
<% end%>
</div>